@import "tailwindcss";

@theme{
    --color-primarybg:#000430;
    --color-secondarybg:#171c48;
    --color-teal:#23cdc2;
    --color-purple:#828dff;
}

@layer components{
    /* .active{
        @apply text-teal  rounded-sm;
    } */
    .item{
        @apply w-full p-2 mt-4 bg-secondarybg flex justify-between items-center gap-[5%] border-l-2 border-solid border-purple ;
    }
    .task{
        @apply w-full flex items-center gap-2 text-lg;
    }
    .task input[type="checkbox"]{
        @apply shrink-0 size-[1.1rem] cursor-pointer;
    }
    .task p{
        @apply break-all text-sm md:text-lg;
    }
    .icons{
        @apply flex gap-[10%] pr-1;
    }
    .icons button{
        @apply h-6 w-fit px-[2px] cursor-pointer bg-purple rounded-sm border-1 border-solid border-transparent disabled:bg-gray-400 hover:bg-teal;
    }

}

